{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null
  }
}
